.base-input,
.base-textarea {
    display: flex;
    flex-direction: column;
    position: relative;
    // height: 100%;
    width: 100%;
}

.form-input {
    // height: 100%;
    width: 100%;
    border: var(--border);
    // border-radius: var(--border-small-radius);
    padding: 5px;
    transition: 0.3s;
    background: transparent;
    max-height: 32px;
    margin-bottom: 10px;
}

.base-textarea {
    grid-column-start: 1;
    grid-column-end: 3;
}

.base-submit {
    background: var(--main-color);
    padding: 15px;
    // border-radius: var(--border-small-radius);
    color: white;
    font-weight: bold;
}

.base-form {
    width: 100%;
    background: transparent;
    display: grid;
    row-gap: 10px;
    grid-auto-flow: row;
}

.base-form.small {
    .form-title {
        font-size: var(--big-size);
        grid-column-start: 1;
        grid-column-end: 3;
        color: var(--main-black);
    }
}

.base-form.banner__form {
    max-width: 500px;

    .form-input {
        background: white;
        border: 1px solid #D4D4D4;
        // border-radius: var(--border-radius);
    }

    .base-button {
        // border-radius: var(--border-radius);
        background: var(--main-color);
        border: 1px solid var(--main-color);
    }
}